#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path
    
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organized
        %p Godard prism meditation chartreuse squid austin, franzen craft beer pop-up keytar fixie authentic photo booth food truck tilde. Echo park austin gochujang chambray tofu tumblr mumblecore forage art party man bun. Poutine woke single-origin coffee keytar fingerstache helvetica twee. Flexitarian you probably haven't heard of them forage semiotics hammock butcher mumblecore paleo sriracha cliche photo booth. Health goth tousled PBR&B try-hard pabst shoreditch narwhal tbh knausgaard four loko pinterest gastropub. Neutra four loko plaid adaptogen, la croix squid taiyaki dreamcatcher jean shorts fashion axe succulents. Irony etsy pour-over tacos live-edge.
        
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path